@page "/account/log-in"

<div class="small-container">
    <div class="box">
        <h1>@Localizer["LogIn"]</h1>

        <EditForm OnValidSubmit="OnValidSubmit" Model="Parameters">
            <LocalizedDataAnnotationsValidator />

            <div class="input">
                <label for="email">@Localizer["Email"]</label>
                <InputText id="email" autofocus @bind-Value="Parameters.Email" />
                
                <p class="margin-0 red-text">
                    <ValidationMessage For="@(() => Parameters.Email)" />
                </p>
            </div>
    
            <div class="input">
                <label for="password">@Localizer["Password"]</label>
                <InputText id="password" type="password" @bind-Value="Parameters.Password" />
                
                <p class="margin-0 red-text">
                    <ValidationMessage For="@(() => Parameters.Password)" />
                </p>
            </div>
            
            @if (!Loading)
            {
                <button>@Localizer["Next"]</button>
            }
            else
            {
                <div class="spinner"></div>
            }
        </EditForm>
            
        @if (Result != null)
        {
            <p class="@(Result.HasSucceeded ? "green-text" : "red-text")">@Result.Message</p>
        }
    </div>
</div>
