@page "/settings/password"
@attribute [Authorize]

<div class="small-container">
    <div class="paddingless-box">
        <header>
            <h1>@Localizer["ChangeYourPassword"]</h1>
        </header>

        <EditForm OnValidSubmit="OnValidSubmit" Model="Parameters">
            <LocalizedDataAnnotationsValidator />

            <div class="input">
                <label for="current-password">@Localizer["CurrentPassword"]</label>
                <InputText id="current-password" type="password" autofocus @bind-Value="Parameters.CurrentPassword" />

                <p class="margin-0 red-text">
                    <ValidationMessage class="red-text" For="@(() => Parameters.CurrentPassword)" />
                </p>
            </div>

            <hr />
            
            <div class="input">
                <label for="new-password">@Localizer["NewPassword"]</label>
                <InputText id="new-password" type="password" @bind-Value="Parameters.NewPassword" />

                <p class="margin-0 red-text">
                    <ValidationMessage class="red-text" For="@(() => Parameters.NewPassword)" />
                </p>
            </div>
            
            <div class="input">
                <label for="new-password-confirmation">@Localizer["ConfirmPassword"]</label>
                <InputText id="new-password-confirmation" type="password" @bind-Value="Parameters.NewPasswordConfirmation" />

                <p class="margin-0 red-text">
                    <ValidationMessage class="red-text" For="@(() => Parameters.NewPasswordConfirmation)" />
                </p>
            </div>

            <button>@Localizer["Save"]</button>
        
            @if (Result != null)
            {
                <p class="@(Result.HasSucceeded ? "green-text" : "red-text")">@Result.Message</p>
            }
        </EditForm>
    </div>
</div>
